
.container {
  background-color: #d3d3d3;
  margin: 60px 100px 60px 100px;
  padding-top: 30px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 1.4em;
}

h1 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  font-style: italic;
}

h3 {
  margin-left: 15%;
  font-weight: 500;
}

.logo {
    display: inline-block;
    margin-left: 5.5%;
    background-color: white;
    margin-top: 0;
    padding: 5px;
}

.logo img {
   padding-bottom: 10px;
   width: 950px;
   height: 800px;
}

.logo figcaption {
    text-align: center;
}

.content {
  margin-left: 15%;
  padding-bottom: 20px;
}

.content strong {
   font-weight: 600;
   font-size: 15px;
}

.quote {
   margin-left: 17%;
   line-height: 1em;
   padding-bottom: 20px;
}

.about {
  padding-bottom: 30px;
  margin-left: 17%;
}
