
html {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #d3d3d3;
  margin: 60px 100px 60px 100px;
  padding-top: 30px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 1.4em;
}

h1 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  font-style: italic;
}

h3 {
  margin-left: 30%;
  font-weight: 500;
}

h1,h2,h3 {
  color: #282828;
}

.logo {
    display: inline-block;
    margin-left: 30%;
    background-color: white;
    margin-top: 0;
    padding: 5px;
}

.logo img {
   padding-bottom: 10px;
   width: 100%;
   height: 800px;
}

.logo figcaption {
    text-align: center;
}

.content {
  margin-left: 30%;
  padding-bottom: 20px;
  color: #282828;
}

.content strong {
   font-weight: 600;
   font-size: 15px;
   color: #282828;
}

.quote {
   margin-left: 32%;
   line-height: 1em;
   padding-bottom: 20px;
}

.about {
  padding-bottom: 30px;
  margin-left: 32%;
}

@media screen and (min-width: 1920px) {
  .logo {
     margin-left: 37%;
   }
   h3,.content {
    margin-left: 37%;
   }
  .quote, .about {
     margin-left: 38.5%;
  }
}

@media all and (max-width: 980px) {
  h1 {
     line-height: 1.2em;
  }
  .logo {
    margin-left: 20%;
   }
  .logo img {
     width: 100%;
  }
   h3,.content {
    margin-left: 23%;
   }
  .quote, .about {
     margin-left: 20%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
    margin-left: 0;
   }

  .logo img {
      width: 100%;
   }

   h3, .content {
     margin-left: 13%;
   }

   .quote, .about {
     margin-left: 13%;
   }
}

@media screen and (max-width: 360px) {
  .container {
     width: 100%;
     margin-left: 0;
   }
  h3,.content {
    margin-left: 5%;
  }
  .quote,.about {
    margin-left: 5%;
  }
   .container h2 {
    line-height: 1.2em;
  }
}

@media screen and (max-width: 320px) {
  .content {
     margin-left: 0;
   }
}
